$nav-background-color: #444;
$nav-height: 30px;

body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: $nav-height;
  line-height: $nav-height;
  padding: 0 1rem;
  background: $nav-background-color;
}

main {
  position: fixed;
  top: $nav-height;
  bottom: $nav-height;
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $nav-height;
  line-height: $nav-height;
  padding: 0 1rem;
  background: $nav-background-color;
  color: #fff;
}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
